* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: helvetica;
  overflow-x: hidden;
}

/* colors
    --blue: #168ED5;
    --green: #417505;
    --yellow: #FAEC90;
 */

html, body{
  min-height: 100%;
}

/* Structure of page grid */
.wrapper{
  display: grid;
  z-index: 1;
  grid-template-columns: 5.5vw 1fr;
  grid-template-rows: 10vh 90vh 20vh 65vh 73vh 150vh 100vh 100vh 100vh 100vh ; 
  /*10 rows in grid, the footer is separate from the grid*/
  /* 
  Rows
  1.  10vh,  nav 
  2.  90vh,  video bg
  3.  20vh,  press for reads
  4.  65vh,  thank you
  5.  73vh,  news
  6.  150vh, about
  7.  100vh, kickstarter
  8.  100vh, subscription
  9.  100vh, contact
  10. 100vh, carousel
   */
}

/* temp borders */
/* aside, header, .main, footer{
  border: 1px solid black;
} */
/* positions each section in the 2nd column of the page */
header, .video, .articles, .thanks, .news, .about, .kickstarter, .subscription, .contact, .carousel, footer{
  position: absolute;
  left:5.5vw;
  width:94.5vw;
}

header{
  position: fixed;
  top:0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 25.45vw 40vw 22vw 7.5vw; /* width must equal 94.95*/
  text-align:center;
  line-height: 10vh;
  /* If z-index < 2, the header hides behind the video */
  z-index: 2;
}

aside{
  position: absolute;
  left: 0;
  width: 5.5vw;
  height: 900vh;
  background-color:#FAEC90;
}

/* .main divs */
.video{
  color: #ffffff;
  background-color: #969696;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  top:10vh;
  height: 90vh;
}

.articles{
  top: 100vh;
  width:100%;
  height: 20vh;
  background-color: #F1E6E0;
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  z-index: 0;
}

.thanks{
  background-color: #F45817;
  top:120vh; 
  height: 65vh;
}

.news{
  background-color: #528660;
  /* .thanks top: 120vh + .thanks height: 65vh = 185vh */
  top: 185vh;
  height: 73vh;
}

.about{
  background-color: #1990C6;
  top: 258vh;
  height: 150vh;
}

.kickstarter{
  background-color: #F45817;
  top: 408vh;
  height: 74vh;
}

.subscription{
  background-color: #528660;
  top: 482vh;
  height: 173vh;
}

.contact{
  background-color: #F45817;
  top: 655vh;
  height: 135vh;
}

.carousel{
  background-color: #FAEC90;
  top: 790vh;
  height: 110vh;
}

footer{
  height: 50vh;
  top:900vh;
  left:0;
  width: 100%;
}

/* content for sections */

/* aside */
  aside > a:hover{
    text-decoration: underline;
  }

  aside > a{
    writing-mode:vertical-rl;
    text-decoration: none;
    color: black;
    transform: rotate(180deg);
	  /* transform-origin: left top 1; */
    position: absolute;
    top: 40vh;
    left: 2vw;
    /* padding: 350px 0 0 0; */
  }

/* header */
  #archive{
    background-color: #1990C6;
    color: #FAEC90;
  }

  #logo{
    font-size: 28px;
  }

  #libraries{
    text-align: right;
  }

  #archive, #libraries{
    font-size: 18px;
  }

  #cart{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle{
    background-color: #FAEC90;
    height: 50px;
    width: 50px;
    border-radius: 500px;
    line-height: 6vh;
  }

/* video */
  #myVideo{
    min-height: 100%;
    min-width: 94.95vw;/*must equal 94.95vw*/
  }

  .videoContent {
    position: absolute;
    top: 31.5vh;
    width: 94vw;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #ffffff;
    text-align: center;
    z-index: 1;
    line-height: 5em;
  }

  h1{
    font-weight:400;
    font-size: 72px;
  }

  .videoContent > p{
    font-size: 18px;
  }
  .videoContent > a > button{
    background-color: #FAEC90;
    border: none;
    font-size: 18px;
    padding: .5em 2em;
  }
/* articles */
.articles > a > img{
  width: 120px;
}